extends layout

block content

	each val in data
		.row
			.col-2
				.card.cyan 
					.card-content
						p
							h1 #{val.superhero}
							.card
								ul
									li 
										h2   Name : #{val.alter_ego}
									li
										h2  Publisher : #{val.publisher}
								form(method='get', action='delete')
									input(type='hidden', name='id',value=val.id)
									button(type='submit') Delete
								ul
									li
										a(href='viewHero?id='+val.id) View
									li
										a(href='update?id='+val.id) Update
							
